body,h1,p{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc;   
}

main{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid #000;
    background: url("../images/1.jpg") no-repeat center/cover; 
}

h1{
    width: 100%;
    height: 60px;
    font-size: 40px;
    color:mediumvioletred;
    text-align: center;
    line-height: 60px;
    background-color: #ccfc;
    opacity: 0.6;
}

#皮一下{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gold;
    font-size: 30px;
}

input,
button,
#answer {
    position: absolute;
    left: 100px;
}

input,#answer{
    height: 40px;   
}

input{
    width: 200px;
    top: 10px;
}

button{
    width: 50px;
    height: 30px;
    top: 64px;
}

#answer{
    top: 100px;
    width: 206px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #000;
    background-color: #fff;
}

nav{
    overflow: auto;
    position: absolute;
    width: 420px;
    height: 640px;
    color: yellow;
    font-size: 18px;
    border: 1px solid #000;
    background-color: rgb(46, 46, 54);
}

nav#left{
    top: 160px;
    left: 12px;
}

nav#right {
    top: 160px;
    right: 12px;
}
